#head{
    padding: 0.5% 13.5%;
}
.container{
    margin-top: 2%;
}
.product{
    margin-bottom: 4%;
}
.level2{
    margin-top: 4%;
}
#info{
   padding-left: 1%;
}
.pak span{
    margin-right: 3%;
}
#info a {
    margin-top: 8%;
}
#comentario{
    margin: 4% 0%;
}